@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.text-footer-small {
  font-weight: 300;
  font-size: 4px;
  line-height: 6px;
}
.text-footer,
.text-footer p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.text-footer-icons {
  font-weight: 300;
  font-size: 6px;
  line-height: 9px;
}

.text-footer-h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.title-h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.title-card-evento {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.description-card-evento {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.date-card-evento {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.text-card-evento-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.button-card-evento {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.container-max {
  @apply max-w-[1250px] w-[90%] md:w-full mx-auto;
}

.bg-banner {
  background: url(/banner.png) no-repeat center;
  height: 127px;
  width: 100%;
  background-size: cover;
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}
.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}
.m-cls-1 {
  font-size: 176px;
}

.m-cls-1,
.m-cls-2,
.m-cls-3,
.m-cls-4,
.m-cls-5,
.m-cls-6,
.m-cls-7 {
  fill: #fff;
  font-family: Lato-Bold, Lato;
}
.cls-1 {
  fill: #e6e7e8;
}

.cls-2 {
  fill: #fffdfd;
}

.cls-3 {
  fill: #6d6d6d;
}

.cls-4 {
  fill: #ff5733;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 15px;
}
.cls-7 {
  fill: #6d6d6d;
  font-size: 92px;
}

.m-cls-8 {
  font-size: 154.22px;
}

.m-cls-8,
.m-cls-9,
.m-cls-10 {
  font-family: Poppins-Bold, Poppins;
}

.m-cls-11 {
  fill: #ff4c33;
}

.m-cls-12 {
  fill: #ffc301;
}

.m-cls-13 {
  fill: #ff8376;
}

.m-cls-14 {
  fill: #969696;
}

.m-cls-15 {
  fill: #870c38;
}

.m-cls-16 {
  fill: #c70039;
}

.m-cls-2 {
  font-size: 113.9px;
}

.m-cls-17 {
  fill: #b5b5b6;
}

.m-cls-17,
.m-cls-9,
.m-cls-18 {
  stroke: #5b5a5a;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.m-cls-3 {
  font-size: 176.89px;
}

.m-cls-9 {
  fill: #f9f9fa;
  font-size: 241.58px;
}

.m-cls-4 {
  font-size: 155.33px;
}

.m-cls-5 {
  font-size: 140.73px;
}

.m-cls-18 {
  fill: none;
}

.m-cls-6 {
  font-size: 142.06px;
}

.m-cls-10 {
  fill: #010101;
  font-size: 154.22px;
}

.m-cls-7 {
  font-size: 162px;
}

.t-cls-1 {
  font-size: 154.22px;
}

.t-cls-1,
.t-cls-2,
.t-cls-3 {
  font-family: Poppins-Bold, Poppins;
}

.t-cls-4 {
  fill: #969696;
}

.t-cls-5 {
  fill: #bfbfbf;
}

.t-cls-6 {
  fill: #b5b5b6;
}

.t-cls-6,
.t-cls-7,
.t-cls-2,
.t-cls-8 {
  stroke: #5b5a5a;
  stroke-miterlimit: 10;
}

.t-cls-6,
.t-cls-2,
.t-cls-8 {
  stroke-width: 2px;
}

.t-cls-7 {
  stroke-width: 5px;
}

.t-cls-7,
.t-cls-8 {
  fill: none;
}

.t-cls-2 {
  fill: #f9f9fa;
  font-size: 241.58px;
}

.t-cls-3 {
  fill: #010101;
  font-size: 154.22px;
}

.t-cls-5 {
  fill: white;
  cursor: pointer;
  stroke: #000000;
  stroke-width: 2px;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}
.s-cls-1 {
  fill: #e6e7e8;
}

.s-cls-2 {
  fill: #8c8c8c;
  cursor: pointer;
}

.s-cls-3 {
  fill: #f7f7f7;
  stroke: #232020;
  stroke-miterlimit: 10;
}
/* #Fila_1-2 path {
  fill: #980413;
} */
tspan {
  cursor: pointer;
}

input[type='date']::-webkit-calendar-picker-indicator {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 9px;
  top: 10px;
  color: red;
}

/* estilos para el radio botton */
.radio {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
}

/* hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom radio */
.radio .check {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #ececec;
  border-radius: 50%;
  border: 1px solid #ff5733;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
  border: 1px solid #ff5733;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
  background-color: #ff5733;
  border: none;
}

/* create the radio and hide when not checked */
.radio .check:after {
  content: '';
  position: absolute;
  display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
  display: block;
}

/* radio style */
.radio .check:after {
  top: 9px;
  left: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
.circle {
  fill: #c70039;
}
